__pycache__
logs
wandb/*
__logs
data/
**.npy
**.pt
*.png
*.json
*.pth
src/keypoint_diffuser/utils/emd_loss/build
*.egg
*.egg-info
*.log
data/*
build/*
*.gif
*.npz
scripts/wandb
shapenetcorev2_hdf5_2048
pcds/
data2
scripts/eval_logs
.zip
*.txt
*.mp4
scripts/train/train_summary
scripts/train/wandb
*.db
