setuptools==69.5.1
iopath
fvcore
trimesh
ninja
pre-commit
configargparse==1.4
tensorboardX
packaging
einops
open3d
numpy==1.22.2
pandas==1.4.1
wandb
tensorboard
matplotlib==3.5.0
git+https://github.com/facebookresearch/pytorch3d.git@stable
git+https://github.com/mmatl/pyopengl.git
pyrender
flash-attn==2.3.2
timm
spconv-cu116
pymeshlab
rtree
h5py
simpleicp
seaborn
